@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(133, 165, 255);
    font-family: 'Noto Sans';
    font-size: 16pt;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

input{
    width: 100px;
}

input#botao {
    width: 55px;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
