@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgba(13, 18, 29, 0.815);
    font-family: 'Noto Sans';
    font-size: 16pt;
}

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

div {
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
